name: "Build"

on:
  push:
    paths-ignore:
      - '.github/workflows/cron-build-*.yml'
  pull_request:
    paths-ignore:
      - '.github/workflows/cron-build-*.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        java: [ 11 , 17 ]
        graal: [ 22.3.1 ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-quarkus3-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-quarkus3-

      - name: Install JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: Pull Quarkus Native Builder Image (${{ matrix.graal }})
        if: matrix.graal != 'none'
        run: docker pull quay.io/quarkus/ubi-quarkus-graalvmce-builder-image:${{ matrix.graal }}-java${{ matrix.java }}

      - name: Build - JVM
        run: mvn -B clean verify

      - name: Build - Native
        if: matrix.graal != 'none'
        run: mvn -B clean verify -Dnative -Dquarkus.native.container-build=true -Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-graalvmce-builder-image:${{ matrix.graal }}-java${{ matrix.java }}
